# Ignore JetBrains IDE meta-files.
.idea/

# Ignore SWC build-related files.
.swc/

# Ignore all compiled files.
dist/

# Ignore NPM `node_modules` package directory/files.
node_modules/

# Ignore generated test coverage directory/files.
src/tests/coverage

# Ignore package files for this package.
formativesolutions-toolkit-*.tgz
