# Ignore Jetbrains IDE meta-files.
.idea/

# Ignore test files.
dist/.d.ts/tests/
dist/tests/
jest.config.ts

# Ignore all pre-compilation/source files.
src/

# Ignore build-related files
.swc/
.eslintrc.cjs
build.config.js
gulpfile.js

# Ignore Git/GitHub files.
.github/
.gitattributes
.gitignore

# Ignore documentation files.
docs/
mkdocs.yml
