# Ignore Jetbrains IDE meta-files.
.idea/

# Ignore test files.
.d.ts/tests/
js/tests/
ts/tests/
jest.config.ts

# Ignore TypeScript files.
ts/

# Ignore build-related files
.swc/
.swcrc
webpack.config.js

# Ignore Git/GitHub files.
.github/
.gitattributes
.gitignore

# Ignore documentation files.
docs/
mkdocs.yml
